.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.cursor-pointer{
    cursor: pointer
}

.position-fixed {
    position: fixed;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}